.miDiv {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: rgba(24, 24, 15, 0.352);
}

.characterContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.apiCallButton {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  position: absolute;
  left: 57em;
  margin-top: 20px;

}

.apiCallButton:hover,
.apiCallButton:focus {
  opacity: 0.75;
}

.EmailInput {
  display: flex;
  justify-content: center;
}

.PasswordInput {
    display: flex;
    justify-content: center;
  }
