.me-auto {
    display: flex;
    width: 40%;
    font-size: 18px;
    font-weight: bold;   
    margin-left: 100px;
    color: white;
}


.navbar-custom {
    background-color: #000000; 
   }
   
   .navbar-custom .navbar-brand,
   .navbar-custom .navbar-text {
    color: #ffffff;
   }
   
   .logo-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Asegura que el logo esté por encima de otros elementos */
   }
   
   .MainLogo {
    width: 100px; /* Ajusta el tamaño según necesites */
    height: auto;
   }
   